<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web App</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.7.2/dist/full.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://xbokmd.github.io/plastilinn/css.css">
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>
    <script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
    <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css" />
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <style>
        * {
            line-height: 1.5;
            -webkit-text-size-adjust: 100%;
            -moz-tab-size: 4;
            -o-tab-size: 4;
            tab-size: 4;
            font-family: Inter var, ui-sans-serif, system-ui, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
            font-feature-settings: "cv02", "cv03", "cv04", "cv11";
            font-variation-settings: normal;
            -webkit-tap-highlight-color: transparent;
        }

        a {
            color: blue;
            text-decoration: underline;
        }

        .md-block {
            display: flex;
            /* o display: grid; dependiendo de tu estructura */
            gap: 10px;
            /* Ajusta este valor según lo necesites */
        }

        .md-block-container-middle>div {
            /* Tus estilos aquí */
            border-bottom: 1px solid #F5F5F5;
            padding: 1rem;
            box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
        }

        .toastui-editor-defaultUI div[contenteditable="true"] {
            text-align: left;
        }

        #bp-web-widget-container {
            width: 50%;
            height: 80%;
            z-index: 100;
            position: relative;
        }

        .section {
            scroll-margin-top: 4rem;
            /* Asegúrate de que esto sea igual o más grande que la altura de tu navbar */
        }

        html {
            scroll-behavior: smooth;
        }


        #sidebar {
            position: -webkit-sticky;
            /* Para soporte en Safari */
            position: sticky;
            top: 0;
            /* Ajusta este valor según sea necesario para tu diseño */
            z-index: 10;
            /* Asegúrate de que tiene un z-index alto si hay otros elementos flotantes */
        }

        #top-container {
            position: -webkit-sticky;
            /* Para soporte en Safari */
            position: sticky;
            top: 0;
            /* Este valor se ajusta para que se quede fijo en la parte superior cuando hagas scroll */
            z-index: 10;
            /* Asegúrate de que tiene un z-index alto si hay otros elementos flotantes */
        }

        #sidebar {
            flex-shrink: 0;
            /* Esto evita que la sidebar se encoja si hay mucho contenido */
        }

        .marker {
            border-radius: 50%;
            width: 30px;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            left: 0;
            top: 0;
            transform: translate(-50%, -50%);
        }

        h1, h2, h3, h4, h5, h6 {
            font-family: Inter var,ui-sans-serif,system-ui,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
            font-weight: 700;
            -webkit-font-smoothing: antialiased;
    color: #333; /* Cambia el color del texto */
    font-family: 'Arial', sans-serif; /* Cambia la fuente del texto */
}
    </style>
</head>

<body class="">
    <div id="vue-app">
        <div class="min-h-screen h-screen flex flex-col">
            <header class="border-b border-gray-200">
                <div id="top-container" class="bg-gray-200 w-full fixed">
                    <div id="navbar" class="navbar bg-base-100 shadow-xl">
                        <div class="navbar-start">
                            <a class="btn btn-ghost text-xl">Plastilinn</a>
                        </div>
                        <div class="navbar-center">
                            <div class="flex-1 text-center bg-gray-200 rounded-lg p-2 m-2">
                                <h4 v-if="modelName">{{ modelName }}</h4>
                            </div>
                        </div>
                        <div class="navbar-end">
                            <div class="join">
                                <button id="downloadBtn" @click="downloadMarkdown"
                                    class="btn join-item btn-primary btn-sm">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                                        class="w-6 h-6">
                                        <path fill-rule="evenodd"
                                            d="M10.5 3.75a6 6 0 0 0-5.98 6.496A5.25 5.25 0 0 0 6.75 20.25H18a4.5 4.5 0 0 0 2.206-8.423 3.75 3.75 0 0 0-4.133-4.303A6.001 6.001 0 0 0 10.5 3.75Zm2.25 6a.75.75 0 0 0-1.5 0v4.94l-1.72-1.72a.75.75 0 0 0-1.06 1.06l3 3a.75.75 0 0 0 1.06 0l3-3a.75.75 0 1 0-1.06-1.06l-1.72 1.72V9.75Z"
                                            clip-rule="evenodd" />
                                    </svg>
                                    Download
                                </button>
                                <button id="downloadBtn" @click="downloadHTML" class="btn join-item btn-primary btn-sm">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                                        class="w-6 h-6">
                                        <path fill-rule="evenodd"
                                            d="M10.5 3.75a6 6 0 0 0-5.98 6.496A5.25 5.25 0 0 0 6.75 20.25H18a4.5 4.5 0 0 0 2.206-8.423 3.75 3.75 0 0 0-4.133-4.303A6.001 6.001 0 0 0 10.5 3.75Zm2.25 6a.75.75 0 0 0-1.5 0v4.94l-1.72-1.72a.75.75 0 0 0-1.06 1.06l3 3a.75.75 0 0 0 1.06 0l3-3a.75.75 0 1 0-1.06-1.06l-1.72 1.72V9.75Z"
                                            clip-rule="evenodd" />
                                    </svg>
                                    Export
                                </button>
                                <button @click="toggleAutoDownload"
                                    :class="{'bg-green-500': autoDownloadEnabled, 'bg-gray-500': !autoDownloadEnabled}"
                                    class="btn join-item btn-primary btn-sm">
                                    Auto Download {{ autoDownloadEnabled ? 'ON' : 'OFF' }}
                                </button>
                            </div>
                        </div>
                    </div>

                </div>
            </header>

            <!-- main container -->
            <div class="flex-1 flex flex-row overflow-y-hidden">
                <main class="flex-auto  border-l border-r border-gray-200 text-xs p-2 overflow-y-auto">
                    <div class="leading-10">
                        <div id="content" class="bg-gray-200 p-1 rounded">
                            <div class="plastilinn-hero hero pt-48" v-if="!markdownLoaded">
                                <div class="hero-content text-center">
                                    <div class="max-w-md">
                                        <div class="m-auto max-w-6xl p-12">
                                            <div class="flex flex-col md:flex-row">
                                                <div class="md:w-1/2 max-w-md flex flex-col justify-center">

                                                </div>
                                            </div>
                                        </div>
                                        <div class="md:text-5xl text-2xl uppercase font-black">Shape your business with AI</div>
                                        <div class="text-xl mt-4">Design, analyze and validate your business model.
                                        </div>
                                        <h1 class="text-5xl font-bold mb-4">Business Model</h1>
                                        <input type="file" @change="loadAndParseMarkdown" accept=".md"
                                            class="file-input file-input-bordered file-input-primary w-full max-w-xs m-4">
                                            <p>Download your <a href="https://xbokmd.github.io/plastilinn/">plastilinn document template</a></p>
                                            <p class="py-6">Upload your document</p>
                                    </div>
                                </div>
                            </div>
                            <div class="modelContainer mt-14 ml-2 mr-2">
                                <div class="flex flex-row w-full">
                                    <div class="md-block-wrapper w-full">
                                        <div v-for="block in searchFilteredBlocks" :key="block.id"
                                            class="md-block flex">
                                            <div
                                                class="md-block-container-middle md-block-content shadow-xl hover:shadow-2xl transition-shadow p-2 ml-2 mr-2 custom-flex-2 w-1/2">
                                                <div v-html="block.parsedContent"></div>
                                            </div>
                                            <div
                                                class="md-block-container-right tags-container text-gray-500 w-full bg-gray-200 rounded-md text-sm text-center p-2 mt-1 mb-1 w-1/4">
                                                <span data-tag="">
                                                    <button @click="openModal(block)"
                                                        class="opacity-50 hover:opacity-100 focus:opacity-100"><svg
                                                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                                                            fill="currentColor" class="w-6 h-6">
                                                            <path
                                                                d="M21.731 2.269a2.625 2.625 0 0 0-3.712 0l-1.157 1.157 3.712 3.712 1.157-1.157a2.625 2.625 0 0 0 0-3.712ZM19.513 8.199l-3.712-3.712-8.4 8.4a5.25 5.25 0 0 0-1.32 2.214l-.8 2.685a.75.75 0 0 0 .933.933l2.685-.8a5.25 5.25 0 0 0 2.214-1.32l8.4-8.4Z" />
                                                            <path
                                                                d="M5.25 5.25a3 3 0 0 0-3 3v10.5a3 3 0 0 0 3 3h10.5a3 3 0 0 0 3-3V13.5a.75.75 0 0 0-1.5 0v5.25a1.5 1.5 0 0 1-1.5 1.5H5.25a1.5 1.5 0 0 1-1.5-1.5V8.25a1.5 1.5 0 0 1 1.5-1.5h5.25a.75.75 0 0 0 0-1.5H5.25Z" />
                                                        </svg>
                                                    </button>
                                                </span>
                                                <div :id="block.metamodel.name"
                                                    class="block-metamodel section inline-flex" v-if="block.metamodel">
                                                    <span data-tag="section" class="flex items-center gap-2">
                                                        <button @click="openRemoteModal(block.metamodel.name)"
                                                            class="opacity-50 hover:opacity-100 focus:opacity-100">
                                                            <svg xmlns="http://www.w3.org/2000/svg" fill="none"
                                                                viewBox="0 0 24 24" stroke-width="1.5"
                                                                stroke="currentColor" class="w-6 h-6">
                                                                <path stroke-linecap="round" stroke-linejoin="round"
                                                                    d="m11.25 11.25.041-.02a.75.75 0 0 1 1.063.852l-.708 2.836a.75.75 0 0 0 1.063.853l.041-.021M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9-3.75h.008v.008H12V8.25Z" />
                                                            </svg>
                                                        </button>
                                                </div>
                                                <div class="md-block-container-right tags-container"
                                                    v-html="block.tagsParsed">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="content" class="mt-48 ml-2 mr-2">
                                <div class="flex flex-row w-full">
                                    <div class="md-block-wrapper w-full">
                                        <div v-for="block in filteredBlocks" :key="block.id" class="md-block flex">
                                            <!-- Renderizar los bloques -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
                <nav class="order-first w-1/4 p-2 overflow-y-auto" style="min-width: 500px">
                    <div class="flex flex-row flex-wrap gap-2 sticky top-0">
                        <div class="flex flex-row justify-between mb-4 gap-2">
                            <button @click="toggleGuidesSelect" class="collapse-filter-button btn btn-primary btn-sm">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                                    class="w-6 h-6">
                                    <path fill-rule="evenodd"
                                        d="m11.54 22.351.07.04.028.016a.76.76 0 0 0 .723 0l.028-.015.071-.041a16.975 16.975 0 0 0 1.144-.742 19.58 19.58 0 0 0 2.683-2.282c1.944-1.99 3.963-4.98 3.963-8.827a8.25 8.25 0 0 0-16.5 0c0 3.846 2.02 6.837 3.963 8.827a19.58 19.58 0 0 0 2.682 2.282 16.975 16.975 0 0 0 1.145.742ZM12 13.5a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"
                                        clip-rule="evenodd" />
                                </svg>
                                Guides
                            </button>
                            <button @click="toggleIndex" class="collapse-filter-button btn btn-primary btn-sm">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                                    class="w-6 h-6">
                                    <path fill-rule="evenodd"
                                        d="M3 6.75A.75.75 0 0 1 3.75 6h16.5a.75.75 0 0 1 0 1.5H3.75A.75.75 0 0 1 3 6.75ZM3 12a.75.75 0 0 1 .75-.75h16.5a.75.75 0 0 1 0 1.5H3.75A.75.75 0 0 1 3 12Zm0 5.25a.75.75 0 0 1 .75-.75h16.5a.75.75 0 0 1 0 1.5H3.75a.75.75 0 0 1-.75-.75Z"
                                        clip-rule="evenodd" />
                                </svg>Index
                            </button>
                            <button @click="toggleFilter" class="collapse-filter-button btn btn-primary btn-sm">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                                    class="w-6 h-6">
                                    <path fill-rule="evenodd"
                                        d="M3.792 2.938A49.069 49.069 0 0 1 12 2.25c2.797 0 5.54.236 8.209.688a1.857 1.857 0 0 1 1.541 1.836v1.044a3 3 0 0 1-.879 2.121l-6.182 6.182a1.5 1.5 0 0 0-.439 1.061v2.927a3 3 0 0 1-1.658 2.684l-1.757.878A.75.75 0 0 1 9.75 21v-5.818a1.5 1.5 0 0 0-.44-1.06L3.13 7.938a3 3 0 0 1-.879-2.121V4.774c0-.897.64-1.683 1.542-1.836Z"
                                        clip-rule="evenodd" />
                                </svg>
                                Filter
                            </button>
                        </div>
                        <div class="w-full"></div>
                        <div class="w-full"></div>
                        <!-- Select que se muestra u oculta según showSelect -->
                        <select v-if="showGuidesSelect" @change="loadMarkdownContent($event.target.value)">
                            <option value="">Seleccione una guía</option>
                            <option value="https://xbokmd.github.io/plastilinn/guides/quick_start.md">Quick start</option>
                            <option value="https://xbokmd.github.io/plastilinn/guides/lean_canvas.md">Lean Canvas</option>
                            <option value="https://xbokmd.github.io/plastilinn/guides/quick_start.md">Quick start</option>
                        </select>
                        <!-- Div que muestra el contenido del Markdown seleccionado -->
                    <div v-if="markdownGuideContent">
                        <div v-html="markdownGuideContent"></div>
                    </div>
                        <div>
                            <div class="index" v-if="isIndexOpen">
                                <ul class="menu p-4 w-80 bg-base-100">
                                    <li v-for="block in model.filter(b => b.blockType === 'section')" :key="block.id">
                                        <a :href="'#' + block.blockTitle">{{ block.blockTitle }}</a>
                                    </li>
                                </ul>
                            </div>
                            <!-- Filtrar los bloques según los blockTitles seleccionados -->
                            <div class="flex justify-between bg-white" v-if="filterVisible">
                                <div class="flex flex-col gap-4">
                                    <div class="flex flex-col w-full">
                                        <div class="flex flex-col w-full p-4 bg-white rounded-lg shadow-sm">
                                            <!-- Búsqueda -->
                                            <div class="flex items-center mb-4 p-2 bg-gray-50 rounded-lg shadow">
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                                                    fill="currentColor" class="w-5 h-5 text-gray-400">
                                                    <path fill-rule="evenodd"
                                                        d="M10.5 3.75a6.75 6.75 0 1 0 0 13.5 6.75 6.75 0 0 0 0-13.5ZM2.25 10.5a8.25 8.25 0 1 1 14.59 5.28l4.69 4.69a.75.75 0 1 1-1.06 1.06l-4.69-4.69A8.25 8.25 0 0 1 2.25 10.5Z"
                                                        clip-rule="evenodd" />
                                                </svg>
                                                <input v-model="searchQuery" type="text" placeholder="Search..."
                                                    class="input ml-2 bg-gray-50 w-full">
                                            </div>
                                            <!-- Filtro de etiquetas -->
                                            <div class="flex flex-col">
                                                <div class="flex items-center mb-4 p-2 bg-gray-50 rounded-lg shadow">
                                                    <span>Filter tags</span>
                                                    <div class="flex flex-wrap gap-2 mt-2">
                                                        <span v-for="tag in selectedTags" :key="tag" class="badge badge-ghost"
                                                            :data-tag="tag">{{ tag }}</span>
                                                    </div>
                                                    <button @click="resetSelectedTags"
                                                        class="btn btn-ghost btn-sm">
                                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                                                            <path fill-rule="evenodd" d="M4.755 10.059a7.5 7.5 0 0 1 12.548-3.364l1.903 1.903h-3.183a.75.75 0 1 0 0 1.5h4.992a.75.75 0 0 0 .75-.75V4.356a.75.75 0 0 0-1.5 0v3.18l-1.9-1.9A9 9 0 0 0 3.306 9.67a.75.75 0 1 0 1.45.388Zm15.408 3.352a.75.75 0 0 0-.919.53 7.5 7.5 0 0 1-12.548 3.364l-1.902-1.903h3.183a.75.75 0 0 0 0-1.5H2.984a.75.75 0 0 0-.75.75v4.992a.75.75 0 0 0 1.5 0v-3.18l1.9 1.9a9 9 0 0 0 15.059-4.035.75.75 0 0 0-.53-.918Z" clip-rule="evenodd" />
                                                          </svg>Reset</button>    
                                                </div>
                                                <select v-model="selectedTags"
                                                    class="select select-bordered w-full p-2 bg-white rounded-lg shadow"
                                                    multiple>
                                                    <option v-for="tag in tags" :key="tag" :value="tag">{{ tag }}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="">
                                            <!-- Botones para aplicar filtros directamente -->
                                            <div class="rounded-lg shadow-md overflow-hidden border border-red-500 m-2">
                                                <button @click="setFilterTags(['*****', '?????'])"
                                                    class="bg-red-500 text-white px-4 py-2 hover:bg-red-600 focus:ring-red-500 focus:ring-opacity-50 w-full">
                                                    High importance or uncertainty
                                                </button>
                                                <div class="flex items-center bg-gray-100 px-4 py-2">
                                                    <p>
                                                        <span data-tag="*****">*****</span> <code>#*****</code> or 
                                                        <span data-tag="?????">?????</span> <code>#?????</code>
                                                    </p>
                                                    </div>
                                            </div>
                                        
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </nav>

            </div>
            <!-- end main container -->

            <footer class="border-t border-gray-200 p-2">Footer</footer>
        </div>

        <!-- Modal para editar el contenido de la línea seleccionada -->
        <div v-if="isModalOpen"
            class="fixed inset-0 bg-gray-600 bg-opacity-50 overflow-y-auto h-full w-full items-center z-50">
            <div class="modal-background absolute inset-0 bg-black opacity-50"></div>
            <div class="relative top-20 mx-auto p-5 border w-4/5 shadow-lg rounded-md bg-white flex flex-col justify-center items-center"
                style="z-index: 100;">
                <div class="flex">
                    <div class="mt-3 text-center">
                        <div class="mt-2">
                            <div id="editor-container"></div>
                        </div>
                        <button class="btn m-2 btn-primary btn-sm" @click="sendMessageToBot()"><svg
                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                                class="w-6 h-6">
                                <path d="M16.5 7.5h-9v9h9v-9Z" />
                                <path fill-rule="evenodd"
                                    d="M8.25 2.25A.75.75 0 0 1 9 3v.75h2.25V3a.75.75 0 0 1 1.5 0v.75H15V3a.75.75 0 0 1 1.5 0v.75h.75a3 3 0 0 1 3 3v.75H21A.75.75 0 0 1 21 9h-.75v2.25H21a.75.75 0 0 1 0 1.5h-.75V15H21a.75.75 0 0 1 0 1.5h-.75v.75a3 3 0 0 1-3 3h-.75V21a.75.75 0 0 1-1.5 0v-.75h-2.25V21a.75.75 0 0 1-1.5 0v-.75H9V21a.75.75 0 0 1-1.5 0v-.75h-.75a3 3 0 0 1-3-3v-.75H3A.75.75 0 0 1 3 15h.75v-2.25H3a.75.75 0 0 1 0-1.5h.75V9H3a.75.75 0 0 1 0-1.5h.75v-.75a3 3 0 0 1 3-3h.75V3a.75.75 0 0 1 .75-.75ZM6 6.75A.75.75 0 0 1 6.75 6h10.5a.75.75 0 0 1 .75.75v10.5a.75.75 0 0 1-.75.75H6.75a.75.75 0 0 1-.75-.75V6.75Z"
                                    clip-rule="evenodd" />
                            </svg>
                            AI suggest content</button>
                        <button class="btn m-2 btn-primary btn-sm" @click="saveChanges"><svg
                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                                class="w-6 h-6">
                                <path
                                    d="M3.375 3C2.339 3 1.5 3.84 1.5 4.875v.75c0 1.036.84 1.875 1.875 1.875h17.25c1.035 0 1.875-.84 1.875-1.875v-.75C22.5 3.839 21.66 3 20.625 3H3.375Z" />
                                <path fill-rule="evenodd"
                                    d="m3.087 9 .54 9.176A3 3 0 0 0 6.62 21h10.757a3 3 0 0 0 2.995-2.824L20.913 9H3.087ZM12 10.5a.75.75 0 0 1 .75.75v4.94l1.72-1.72a.75.75 0 1 1 1.06 1.06l-3 3a.75.75 0 0 1-1.06 0l-3-3a.75.75 0 1 1 1.06-1.06l1.72 1.72v-4.94a.75.75 0 0 1 .75-.75Z"
                                    clip-rule="evenodd" />
                            </svg>
                            Save changes</button>
                        <button class="btn m-2 btn-primary btn-sm" @click="closeModal"><svg
                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                                class="w-6 h-6">
                                <path fill-rule="evenodd"
                                    d="M5.47 5.47a.75.75 0 0 1 1.06 0L12 10.94l5.47-5.47a.75.75 0 1 1 1.06 1.06L13.06 12l5.47 5.47a.75.75 0 1 1-1.06 1.06L12 13.06l-5.47 5.47a.75.75 0 0 1-1.06-1.06L10.94 12 5.47 6.53a.75.75 0 0 1 0-1.06Z"
                                    clip-rule="evenodd" />
                            </svg>
                            Close window</button>
                    </div>
                </div>
            </div>

        </div>
        <script>
            Vue.createApp({
                data() {
                    return {
                        metamodel: [],
                        model: [], // Se utilizará para almacenar el modelo de datos creado a partir del Markdown
                        lastId: 0, // Inicializa un contador para los IDs
                        modelName: '',
                        modelMarkdown: '', // Campo para almacenar el contenido Markdown concatenado
                        isModalOpen: false,
                        selectedBlockContent: '',
                        selectedBlockIndex: null,
                        blocks: [], // Puedes inicializarlo como un array vacío o con valores iniciales
                        currentBlockId: null,
                        tags: [], // Inicializa tags aquí
                        allTags: new Set(),
                        selectedTags: [], // Almacena las etiquetas seleccionadas
                        markdownLoaded: false, // Variable para controlar si el markdown ha sido cargado y analizado
                        filterVisible: false,
                        blockTitles: [], // Arreglo para almacenar todos los blockTitles únicos
                        selectedBlockTitles: [], // Arreglo para almacenar los blockTitles seleccionados
                        searchQuery: '',
                        isSidebarVisible: false, // Controla la visibilidad de la sidebar
                        isIndexOpen: false,
                        isInfoModalOpen: false,
                        selectedInfoBlock: null, // Para almacenar la información del bloque seleccionado
                        currentBlockInfoURL: null,
                        components: [],
                        autoDownloadEnabled: true,
                        showGuidesSelect: false, // Controla la visibilidad del select
                        markdownGuideContent: '', // Almacena el contenido del Markdown cargado
                    };
                },
                computed: {
                    parsedModel() {
                        return this.model.map(block => {
                            return { ...block, parsedContent: marked.parse(block.content) };
                        });
                    },
                    filteredBlocks() {
                        return this.model.filter(block => {
                            const tagMatch = this.selectedTags.length === 0 || this.selectedTags.some(tag => block.tags.includes(tag));
                            const titleMatch = this.selectedBlockTitles.length === 0 || this.selectedBlockTitles.includes(block.blockTitle);
                            return tagMatch && titleMatch;
                        });
                    },
                    searchFilteredBlocks() {
                        if (!this.searchQuery) return this.filteredBlocks; // Utiliza filteredBlocks para mantener los filtros anteriores
                        return this.filteredBlocks.filter(block => {
                            // Verifica si el contenido del bloque incluye el texto de búsqueda
                            // Asume que 'parsedContent' es el contenido que deseas buscar
                            return block.parsedContent.toLowerCase().includes(this.searchQuery.toLowerCase());
                        });
                    },
                },
                methods: {
                    toggleSidebar() {
                        this.isSidebarVisible = !this.isSidebarVisible;
                    },
                    toggleIndex() {
                        this.isIndexOpen = !this.isIndexOpen;
                        // Cierra el filtro si el índice se está abriendo
                        if (this.isIndexOpen && this.filterVisible) {
                            this.filterVisible = false;
                        }
                        console.log("isIndexOpen:", this.isIndexOpen);
                    },
                    toggleFilter() {
                        this.filterVisible = !this.filterVisible;
                        // Cierra el índice si el filtro se está abriendo
                        if (this.filterVisible && this.isIndexOpen) {
                            this.isIndexOpen = false;
                        }
                    },
                    toggleGuidesSelect() {
        this.showGuidesSelect = !this.showGuidesSelect;
    },
                    async loadMarkdownContent(url) {
                    if (url) {
                        try {
                            const response = await fetch(url);
                            const markdown = await response.text();
                            // Aquí convertirías el Markdown a HTML
                            // Puedes usar la librería marked.js como antes mencioné
                            this.markdownGuideContent = marked.parse(markdown);
                        } catch (error) {
                            console.error("Error cargando el archivo Markdown:", error);
                            this.markdownContent = '';
                        }
                    } else {
                        this.markdownGuideContent = '';
                    }
                },
                    loadAndParseMarkdown(event) {
                        const file = event.target.files[0];
                        if (!file) {
                            return;
                        }
                        const modelName = this.getModelNameFromFileName(file.name);
                        this.modelName = modelName; // Actualiza modelName con el resultado de la función
                        const reader = new FileReader();
                        reader.onload = (e) => {
                            const content = e.target.result;
                            this.parseMarkdown(content);
                        };
                        reader.readAsText(file);
                        this.markdownLoaded = true;
                    },
                    getModelNameFromFileName(fileName) {
                        let name = fileName.replace(/\.md$/, ''); // Elimina la extensión ".md"
                        name = name.replace(/ - saved.*$/, ''); // Elimina " - saved" y todo lo que sigue
                        return name;
                    },
                    parseMarkdown(content) {
                        const blocks = []; // Almacenará los bloques identificados
                        let currentBlock = []; // Almacena las líneas del bloque actual
                        const lines = content.split(/\r?\n/); // Divide el contenido en líneas

                        lines.forEach(line => {
                            // Verifica si la línea actual marca el inicio de un nuevo bloque
                            if (/^\s*-*\s*#/.test(line)) {
                                if (currentBlock.length > 0) {
                                    blocks.push(currentBlock.join('\n')); // Agrega el bloque actual a los bloques
                                    currentBlock = []; // Reinicia el bloque actual
                                }
                            }
                            currentBlock.push(line); // Añade la línea al bloque actual
                        });
                        if (currentBlock.length > 0) {
                            blocks.push(currentBlock.join('\n')); // Asegúrate de añadir el último bloque
                        }
                        // Actualiza this.model para que contenga bloques en lugar de líneas individuales
                        this.model = blocks.map((blockContent, index) => {
                            this.lastId += 1; // Incrementa el ID para cada bloque
                            const firstLine = blockContent.split('\n')[0];
                            let blockType = 'other';
                            // Actualiza la expresión regular para reflejar la nueva condición
                            if (/^\s*(-\s+)?#(\s|#)/.test(firstLine)) {
                                blockType = 'section';
                            } else if (firstLine.match(/^\s*[\-\*] /) || firstLine.match(/^\s*\d+\. /)) {
                                blockType = 'item';
                            }
                            const { tags, tagsParsed } = this.processTags(blockContent);
                            const blockTitle = this.extractBlockTitle(blockContent);
                            const blockContentWithTagsParsed = this.parseTags(blockContent);
                            const parsedContent = marked.parse(blockContentWithTagsParsed); // Parsea el contenido Markdown
                            console.log(blockTitle);
                            const metamodel = this.importMetamodelData(blockTitle);
                            return {
                                id: this.lastId,
                                content: blockContent,
                                blockType: blockType,
                                tags: tags,
                                tagsParsed: tagsParsed,
                                blockTitle: blockTitle,
                                parsedContent: parsedContent, // Agrega la propiedad parsedContent al objeto block
                                metamodel: metamodel
                            };
                        });
                        this.updateModelMarkdown();
                        console.log(this.model); // Verificar la carga y transformación del contenido
                        window.botpressWebChat.sendEvent({ type: 'hide' })
                    },
                    extractBlockTitle(blockContent) {
                        const firstBlock = blockContent.split(/\r?\n/)[0]; // Obtiene la primera línea
                        const firstBlockWithoutMarkdownHeaders = firstBlock.replace(/^#+\s*/, ''); // Elimina los encabezados Markdown
                        const blockTitle = firstBlockWithoutMarkdownHeaders.replace(/#[^\s]+/g, '').trim(); // Elimina las etiquetas y espacios extras
                        return blockTitle; // Retorna blockTitle después de haber llamado a importMetamodelData
                        console.log(blockTitle);
                    },
                    updateBlockTitles() {
                        // Recorre todos los bloques y agrega sus blockTitles al arreglo blockTitles
                        this.model.forEach(block => {
                            if (!this.blockTitles.includes(block.blockTitle)) {
                                this.blockTitles.push(block.blockTitle);
                            }
                        });
                    },
                    importMetamodelData(blockTitle) {
                        // Encuentra la sección que coincide con blockTitle
                        const section = this.metamodel.sections.find(s => s.name === blockTitle);
                        if (section) {
                            // Suponiendo que quieras actualizar un bloque específico en this.model
                            // Necesitarás identificar cuál bloque actualizar basado en blockTitle o alguna otra lógica
                            const blockIndex = this.model.findIndex(block => block.title === blockTitle);
                            if (blockIndex !== -1) {
                                // Si encontramos un bloque correspondiente, actualizamos ese bloque
                                // Aquí es donde decides cómo quieres incorporar la sección al bloque
                                // Por ejemplo, podrías querer añadir la sección encontrada a un array de secciones en el bloque
                                this.$set(this.model[blockIndex], 'section', section);
                            }
                        }
                        // Opcionalmente, devuelve la sección para uso externo
                        return section;
                    },
                    parseTags(content) {
                        // Define un regex que busca etiquetas precedidas por # y posiblemente espacio en blanco al inicio
                        const regex = /(^|\s)#([^#\s][^\s]*)/g;

                        // Reemplaza cada coincidencia en el texto con la etiqueta envuelta en un span directamente en el contenido
                        const modifiedContent = content.replace(regex, (match, p1, p2) => {
                            // Envuelve la etiqueta en un span con data-tag
                            return `${p1}<span data-tag="${p2}">#${p2}</span>`;
                        });

                        // Devuelve el contenido modificado como una cadena de texto HTML
                        return modifiedContent;
                    },
                    processTags(content) {
                        // Usando matchAll para capturar el texto después del #
                        const regex = /(?:^|\s)#([^\s]+)/g;
                        const matches = Array.from(content.matchAll(regex));

                        // Extraemos solo las etiquetas sin el símbolo # para tags
                        const tags = matches.map(match => match[1]);

                        // Generamos el HTML para tagsParsed
                        const tagsParsed = tags.map(tag => `<span data-tag="${tag}">#${tag}</span>`).join('');

                        return {
                            tags: tags, // Ya no necesitamos eliminar el símbolo '#' aquí, porque ya lo hicimos arriba
                            tagsParsed: tagsParsed
                        };
                    },
                    updateModelMarkdown() {
                        // Inicializa una variable para almacenar el contenido concatenado
                        let concatenatedContent = '';

                        // Recorre cada elemento del array model y concatena su contenido con saltos de línea
                        this.model.forEach(item => {
                            concatenatedContent += item.content + '\n';
                        });

                        // Guarda el contenido generado en el campo modelMarkdown del objeto model
                        this.modelMarkdown = concatenatedContent;
                        this.updateTagsArray();
                        console.log(concatenatedContent);
                    },
                    updateTagsArray() {
                        // Cargar la lista de bloques
                        this.blocks = this.model; // Asume que this.model contiene tus bloques
                        this.blocks.forEach(block => block.tags.forEach(tag => this.allTags.add(tag)));
                        // Convertir allTags a un array, ordenarlo alfabéticamente y luego asignar a this.tags
                        this.tags = Array.from(this.allTags).sort((a, b) => a.localeCompare(b));
                        console.log(this.tags);
                        // Inicializar el filtrado (si necesario)
                        this.filterBlocks([]);
                    },
                    filterBlocks(tags) {
                        // Implementa la lógica para filtrar los bloques aquí
                        // Utiliza la lista de bloques `this.model` y los tags seleccionados `tags`
                        // para filtrar los bloques según los tags

                        // Ejemplo de implementación:
                        // Filtra los bloques que contienen al menos uno de los tags seleccionados
                        this.filteredBlocks = this.model.filter(block => {
                            return tags.some(tag => block.tags.includes(tag));
                        });
                    },
                    resetSelectedTags() {
                        this.selectedTags = [];
                    },
                    setFilterTags(tags) {
                        // Establece las etiquetas seleccionadas directamente
                        this.selectedTags = tags;
                    },
                    downloadJSON() {
                        axios.get('https://xbokmd.github.io/plastilinn/metamodel.json')
                            .then(response => {
                                if (response.data && response.data.classes && response.data.sections) {
                                    this.metamodel = response.data;
                                    console.log('Metamodel loaded:', this.metamodel);
                                } else {
                                    console.error('Metamodel received does not have the expected structure');
                                }
                            })
                            .catch(error => console.error('Error loading metamodel:', error));
                    },
                    openModal(block) {
                        console.log("Línea clicada:", block);
                        this.currentBlockId = block.id; // Asegúrate de tener currentBlockId definido en tu data()
                        this.selectedBlockContent = block.content;
                        // Busca el índice de la línea basándose en el ID único
                        this.selectedBlockIndex = this.model.findIndex(item => item.id === block.id);
                        this.isModalOpen = true;
                        console.log("Modal abierta con contenido:", this.selectedBlockContent, "ID:", block.id);
                        this.$nextTick(() => {
                            // Asegúrate de que el contenedor del editor esté disponible en el DOM
                            this.initEditor();
                        });
                        console.log("currentBlockId:", this.currentBlockId);
                    },
                    initEditor() {
                        if (this.editor) {
                            this.editor.destroy(); // Destruye la instancia anterior del editor
                        }
                        this.editor = new toastui.Editor({
                            el: document.querySelector('#editor-container'),
                            initialEditType: 'markdown',
                            previewStyle: 'tab',
                            height: '340px',
                            width: '500px',
                            hideModeSwitch: true,
                            initialValue: this.selectedBlockContent // Asume que `editingContent` es tu contenido actual que quieres editar
                        });
                    },
                    saveChanges() {
                        const editedContent = this.editor.getMarkdown();
                        if (this.selectedBlockIndex !== null) {
                            // Primero, procesa el contenido editado para obtener las tags y el contenido procesado
                            const { tags, tagsParsed } = this.processTags(editedContent);
                            // Asume que parseTags es una función que deseas usar aquí
                            const blockContentWithTagsParsed = this.parseTags(editedContent);
                            const blockTitle = this.extractBlockTitle(editedContent);

                            // Luego, actualiza el bloque seleccionado con el nuevo contenido y metadatos
                            this.model.splice(this.selectedBlockIndex, 1, {
                                ...this.model[this.selectedBlockIndex],
                                content: editedContent,
                                tags: tags,
                                tagsParsed: tagsParsed,
                                blockTitle: blockTitle,
                                // Usa el contenido procesado para establecer parsedContent
                                parsedContent: marked.parse(blockContentWithTagsParsed)
                            });
                        }
                        this.updateModelMarkdown();
                        this.closeModal();
                        // Después de guardar, verifica si autoDownload está habilitado
                        if (this.autoDownloadEnabled) {
                            this.downloadMarkdown(); // Asume que este es tu método de descarga existente
                        }
                    },
                    closeModal() {
                        this.isModalOpen = false;
                    },
                    updateBlock(index, newContent) {
                        const tags = newContent.match(/#[^\s]+/g) || [];
                        const tagsParsed = tags.map(tag => `<span class="${tag.substring(1)}">${tag.substring(1)}</span>`).join('');
                        const parsedContent = this.parseContent(newContent); // Asume la existencia de esta función
                        Vue.set(this.model, index, {
                            ...this.model[index],
                            content: newContent,
                            parsedContent: parsedContent,
                            tags: tags.map(tag => tag.substring(1)),
                            tagsParsed: tagsParsed
                        });
                    },
                    openRemoteModal(block) {
                        this.selectedInfoBlock = block;
                        console.log(block);
                        console.log(this.isInfoModalOpen);
                        console.log("Línea clicada:", block);
                        this.currentBlockId = block.id; // Asegúrate de tener currentBlockId definido en tu data()
                        this.currentBlockInfoURL = 'https://xbokmd.github.io/plastilinn/raw.html#/docs/xBoK/sections/' + block.replace(/ /g, "_") + '';
                        console.log(this.currentBlockInfoURL);
                        console.log("URL:", this.currentBlockInfoURL);
                        // Busca el índice de la línea basándose en el ID único
                        this.selectedBlockIndex = this.model.findIndex(item => item.id === block.id);
                        this.isInfoModalOpen = true;
                        console.log("Modal abierta con contenido:", this.currentBlockInfoURL, "ID:", block.id);
                        this.$nextTick(() => {
                            // Asegúrate de que el contenedor del editor esté disponible en el DOM
                            this.currentBlockInfoURL;
                        });
                        console.log("currentBlockId:", this.currentBlockId);

                        // Definir dimensiones y posición de la ventana
                        const ancho = 900; // Ancho de la ventana
                        const alto = 600; // Alto de la ventana
                        // Calcular posición central
                        const y = window.top.outerHeight / 2 + window.top.screenY - (alto / 2);
                        const x = window.top.outerWidth / 2 + window.top.screenX - (ancho / 2);

                        // Abrir nueva ventana
                        window.open(this.currentBlockInfoURL, 'Modal', `toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=yes, copyhistory=no, width=${ancho}, height=${alto}, top=${y}, left=${x}`);
                    },
                    downloadMarkdown() {
                        // Asume que modelMarkdown y modelName ya están actualizados
                        const markdownContent = this.modelMarkdown; // Obtiene el valor actual de modelMarkdown
                        const modelName = this.modelName; // Obtiene el nombre actual del modelo
                        const timestamp = new Date().toISOString().replace(/[:\-]|\.\d{3}/g, ''); // Genera un timestamp en el formato deseado

                        const fileName = `${modelName} - saved ${timestamp}.md`; // Construye el nombre del archivo

                        // Crea un Blob con el contenido Markdown
                        const blob = new Blob([markdownContent], { type: 'text/markdown' });

                        // Crea un enlace para descargar el archivo
                        const link = document.createElement('a');
                        link.href = URL.createObjectURL(blob);
                        link.download = fileName;

                        // Simula un clic en el enlace para iniciar la descarga y luego limpia
                        document.body.appendChild(link);
                        link.click();
                        document.body.removeChild(link);
                    },
                    downloadHTML() {
                        // Convierte el Markdown a HTML
                        const htmlContent = marked.parse(this.modelMarkdown);

                        // Opcional: Si quieres incluir un estilo básico en tu HTML exportado, puedes agregarlo aquí
                        const htmlWithStyle = `${htmlContent}`;

                        // Crea un Blob con el contenido HTML
                        const blob = new Blob([htmlWithStyle], { type: 'text/html' });

                        // Crea un enlace para descargar el archivo
                        const link = document.createElement('a');
                        link.href = URL.createObjectURL(blob);
                        link.download = "exported-content.html"; // Puedes personalizar el nombre del archivo

                        // Simula un clic en el enlace para iniciar la descarga y luego limpia
                        document.body.appendChild(link);
                        link.click();
                        document.body.removeChild(link);
                    },
                    toggleAutoDownload() {
                        this.autoDownloadEnabled = !this.autoDownloadEnabled;
                    },
                    generateSuggestionPrompt() {
                        console.log("currentBlockId:", this.currentBlockId);
                        console.log("model:", this.model); // Ahora imprime el arreglo model para verificar
                        let suggestionPrompt = '';
                        let block = this.model.find(b => b.id === this.currentBlockId); // Cambia this.blocks por this.model
                        console.log("block: ", block);
                        let blockTitle = block ? block.blockTitle : 'Título no encontrado';
                        console.log("blockTitle: ", blockTitle);
                        let modelMarkdown = this.modelMarkdown;
                        let blockExample = block ? block.metamodel.example : 'Example no encontrado';
                        console.log("blockExample: ", blockExample);
                        suggestionPrompt = `As a business model design expert for startups, you specialize in refining business models through detailed, specific feedback and brainstorming tailored to each startup's unique aspects. Your role is to assist in drafting a document that accurately describes a business model, focusing on clear, structured, and relevant advice. Your approach involves:
                    Listening closely to understand the specifics of the business.
                    Providing concise, targeted guidance without unnecessary repetition or formalities.
                    Offering step-by-step feedback to ensure the document effectively captures the business model.
                    You focus on the client's needs and how to best articulate their business model.
                    GOAL: Write a business model document describing the user's project business model. Here's some information about my Business:
                        ${modelMarkdown}
                    MY QUESTION: Please suggest content for the "${blockTitle}" section of the business model.
                    WRITE your answer in PLASTILINN FORMAT, which consists of the text of the answer without any comments or similar, that closely adheres to the format and style of the plastilinn (taking the {block example} as a reference example of a properly formatted answer). In your response, each list component should begin with '#tag', followed by the name enclosed in double brackets '[[ ]]', and then a description on a new, indented line. This is an example of an answer:
                    ---
                    ${blockExample}
                    ---
                    Copy answer in the text box below:
                    ---
                    \`\`\`
                    ${blockExample}
                    \`\`\`
                    ---
                    - You can copy/paste this answer to a document, write 'copy' to have the answer in a text box or write ⬇️ 'download' to save this answer to your computer`;

                        return suggestionPrompt;
                    },
                    sendMessageToBot() {
                        console.log(this.currentBlockId);
                        let suggestionPrompt = this.generateSuggestionPrompt();
                        console.log(suggestionPrompt);
                        window.botpressWebChat.mergeConfig({ className: 'plastilinnChatBot', showCloseButton: true })
                        window.botpressWebChat.sendEvent({ type: 'show' })
                        window.botpressWebChat.sendPayload({
                            type: 'text',
                            text: suggestionPrompt
                        });
                    },
                },
                mounted() {
                    this.downloadJSON(); // Otras inicializaciones pueden ir aquí
                    this.updateBlockTitles(); // Actualiza el arreglo blockTitles al cargar la página
                    window.botpressWebChat.onEvent(event => {
                        if (event.type === 'message' && event.message_type === 'text') {
                            alert(`Respuesta del bot: ${event.text}`);
                        }
                    });
                },
            })
                .mount('#vue-app');
        </script>
        <script src='https://cdn.botpress.cloud/webchat/v1/inject.js'></script>
        <script src='https://mediafiles.botpress.cloud/b0e00411-1da8-4c0c-98ec-5b6c44a7fa7b/webchat/config.js'
            defer></script>
</body>

</html>