.line-container {
    display: grid;
    align-items: start; /* Alineación de elementos */
    margin-bottom: 4px;
    border: gainsboro 1px;
}

#top-container {
    position: fixed;
    top: 0; /* Ajusta este valor al alto de tu navbar */
    left: 0;
    width: 100%;
    z-index: 999; /* Asegura que este elemento se mantenga por encima del contenido de la página pero debajo de la navbar si se superponen */
    overflow-y: auto; /* Permite el desplazamiento dentro del elemento si es necesario */
}

.md-line-left {

}

.chat-bubble {
    background-color: white;
}

.tags-container {
    /* Asegura que el contenido esté alineado a la izquierda */
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start; /* Alinea los ítems al inicio del contenedor */
    justify-content: flex-start; /* Alinea los ítems al inicio (izquierda) */
    padding: 10px;
    gap: 5px; /* Espacio entre etiquetas */
}

.tags-container span {
    background-color: white; /* Color de fondo de las etiquetas */
    padding: 2px 5px;
    margin: 2px 0;
    border-radius: 3px;
}

textarea {
    min-height: 1em;
    max-height: 400px;
    overflow-y: hidden;
    resize: vertical; /* Permite ajustar la altura */
    border: 1px solid #dcdcdc; /* Borde gris clarito */
    padding: 2px; /* Espaciado interno para el texto */
}

/* Estilos para textarea */
.markdown-display {
    outline: none; /* Elimina el outline para evitar el aspecto predeterminado al enfocar */
    transition: border-color 0.3s; /* Transición suave para el cambio de color */
}

.markdown-display:hover,
.markdown-display:focus {
    border-color: #007bff; /* Cambia el color del borde a azul al pasar el cursor o enfocar */
}

code {
    white-space: pre-wrap;
  }

h1, h2, h3, h4, h5, h6 {
    font-size: revert; /* Esto restablecerá el tamaño de fuente al valor predeterminado del navegador */
    font-weight: bold; /* Esto hará que los encabezados sean más gruesos */
}


h1 {
    font-size: 2.5em !important; /* Ajusta según necesites */
    font-weight: bold !important;
}

h2 {
    font-size: 2em !important; /* Ya tienes este */
    font-weight: bold !important;
}

h3 {
    font-size: 1.75em !important; /* Ajusta según necesites */
    font-weight: bold !important;
}

h4 {
    font-size: 1.5em !important; /* Ajusta según necesites */
    font-weight: bold !important;
}

h5 {
    font-size: 1.25em !important; /* Ajusta según necesites */
    font-weight: bold !important;
}

h6 {
    font-size: 1em !important; /* Ajusta según necesites, igual a tamaño de texto normal */
    font-weight: bold !important;
}

span.key { position: relative; padding-left: 25px;  background-color: #FFCCCC; } span.key::before { content: "🔑"; position: absolute; left: 0; top: 0; margin-right: 5px; }
span.organization { position: relative; padding-left: 25px;  background-color: lightblue; } span.organization::before { content: "🏢"; position: absolute; left: 0; top: 0; margin-right: 5px; }
span.journey { position: relative; padding-left: 25px;  background-color: lightblue; } span.journey::before { content: "✈️"; position: absolute; left: 0; top: 0; margin-right: 5px; }
span.assumption { position: relative; padding-left: 25px;  background-color: lightblue; } span.assumption::before { content: "🔮"; position: absolute; left: 0; top: 0; margin-right: 5px; }
span.solution { position: relative; padding-left: 25px;  background-color: lightblue; } span.solution::before { content: "💊"; position: absolute; left: 0; top: 0; margin-right: 5px; }
span.offering { position: relative; padding-left: 25px;  background-color: lightblue; } span.offering::before { content: "🛍️"; position: absolute; left: 0; top: 0; margin-right: 5px; }
span.work { position: relative; padding-left: 25px;  background-color: lightblue; } span.work::before { content: "⚙️"; position: absolute; left: 0; top: 0; margin-right: 5px; }
span.metric { position: relative; padding-left: 25px;  background-color: lightblue; } span.metric::before { content: "📐"; position: absolute; left: 0; top: 0; margin-right: 5px; }
span.asset { position: relative; padding-left: 25px;  background-color: lightblue; } span.asset::before { content: "⭐"; position: absolute; left: 0; top: 0; margin-right: 5px; }
span.revenue { position: relative; padding-left: 25px;  background-color: lightblue; } span.revenue::before { content: "💰"; position: absolute; left: 0; top: 0; margin-right: 5px; }
span.segmentation { position: relative; padding-left: 25px;  background-color: lightblue; } span.segmentation::before { content: "✂️"; position: absolute; left: 0; top: 0; margin-right: 5px; }
span.segment { position: relative; padding-left: 25px;  background-color: lightblue; } span.segment::before { content: "🙋"; position: absolute; left: 0; top: 0; margin-right: 5px; }
span.segment { position: relative; padding-left: 25px;  background-color: lightblue; } span.segment::before { content: "🙋"; position: absolute; left: 0; top: 0; margin-right: 5px; }
span.value { position: relative; padding-left: 25px;  background-color: lightblue; } span.value::before { content: "💎"; position: absolute; left: 0; top: 0; margin-right: 5px; }
span.channel { position: relative; padding-left: 25px;  background-color: lightblue; } span.channel::before { content: "🎙️"; position: absolute; left: 0; top: 0; margin-right: 5px; }
span.cost { position: relative; padding-left: 25px;  background-color: lightblue; } span.cost::before { content: "💸"; position: absolute; left: 0; top: 0; margin-right: 5px; }
span.emotion { position: relative; padding-left: 25px;  background-color: lightblue; } span.emotion::before { content: "😐"; position: absolute; left: 0; top: 0; margin-right: 5px; }
span.message { position: relative; padding-left: 25px;  background-color: lightblue; } span.message::before { content: "📣"; position: absolute; left: 0; top: 0; margin-right: 5px; }
span.feature { position: relative; padding-left: 25px;  background-color: lightblue; } span.feature::before { content: "🌟"; position: absolute; left: 0; top: 0; margin-right: 5px; }
span.function { position: relative; padding-left: 25px;  background-color: lightblue; } span.function::before { content: "👔"; position: absolute; left: 0; top: 0; margin-right: 5px; }
span.goal { position: relative; padding-left: 25px;  background-color: lightblue; } span.goal::before { content: "🎯"; position: absolute; left: 0; top: 0; margin-right: 5px; }
span.hypothesis { position: relative; padding-left: 25px;  background-color: #FFCCCC; } span.hypothesis::before { content: "🔎"; position: absolute; left: 0; top: 0; margin-right: 5px; }
span.person { position: relative; padding-left: 25px;  background-color: lightblue; } span.person::before { content: "👤"; position: absolute; left: 0; top: 0; margin-right: 5px; }
span.transaction { position: relative; padding-left: 25px;  background-color: lightblue; } span.transaction::before { content: "🛒"; position: absolute; left: 0; top: 0; margin-right: 5px; }
span.risk { position: relative; padding-left: 25px;  background-color: #FFCCCC; } span.risk::before { content: "🚨"; position: absolute; left: 0; top: 0; margin-right: 5px; }
span.experiment { position: relative; padding-left: 25px;  background-color: #90EE90; } span.experiment::before { content: "🧪"; position: absolute; left: 0; top: 0; margin-right: 5px; }
span.question { position: relative; padding-left: 25px;  background-color: #FFCCCC; } span.question::before { content: "💭"; position: absolute; left: 0; top: 0; margin-right: 5px; }
span.insight { position: relative; padding-left: 25px;  background-color: #90EE90; } span.insight::before { content: "💡"; position: absolute; left: 0; top: 0; margin-right: 5px; }
span.position { position: relative; padding-left: 25px;  background-color: lightblue; } span.position::before { content: "🪪"; position: absolute; left: 0; top: 0; margin-right: 5px; }
span.skill { position: relative; padding-left: 25px;  background-color: lightblue; } span.skill::before { content: "🔧"; position: absolute; left: 0; top: 0; margin-right: 5px; }
span.phase { position: relative; padding-left: 25px;  background-color: lightblue; } span.phase::before { content: "🗓️"; position: absolute; left: 0; top: 0; margin-right: 5px; }
span.milestone { position: relative; padding-left: 25px;  background-color: lightblue; } span.milestone::before { content: "🏁"; position: absolute; left: 0; top: 0; margin-right: 5px; }
span.role { position: relative; padding-left: 25px;  background-color: lightblue; } span.role::before { content: "🎩"; position: absolute; left: 0; top: 0; margin-right: 5px; }
span.stakeholder { position: relative; padding-left: 25px;  background-color: lightblue; } span.stakeholder::before { content: "👀"; position: absolute; left: 0; top: 0; margin-right: 5px; }
span.persona { position: relative; padding-left: 25px;  background-color: lightblue; } span.persona::before { content: "👩‍💼"; position: absolute; left: 0; top: 0; margin-right: 5px; }
span.topic { position: relative; padding-left: 25px;  background-color: lightgrey; } span.topic::before { content: "🗄️"; position: absolute; left: 0; top: 0; margin-right: 5px; }
span.resource { position: relative; padding-left: 25px;  background-color: lightgrey; } span.resource::before { content: "🖥️"; position: absolute; left: 0; top: 0; margin-right: 5px; }
span.artifact { position: relative; padding-left: 25px;  background-color: lightblue; } span.artifact::before { content: "🧿"; position: absolute; left: 0; top: 0; margin-right: 5px; }
span.unit { position: relative; padding-left: 25px;  background-color: lightgrey; } span.unit::before { content: "📓"; position: absolute; left: 0; top: 0; margin-right: 5px; }
span.content { position: relative; padding-left: 25px;  background-color: lightblue; } span.content::before { content: "📘"; position: absolute; left: 0; top: 0; margin-right: 5px; }
span.AI { position: relative; padding-left: 25px;  background-color: lightblue; } span.AI::before { content: "🤖"; position: absolute; left: 0; top: 0; margin-right: 5px; }
span.help { position: relative; padding-left: 25px;  background-color: lightgrey; } span.help::before { content: "🌐"; position: absolute; left: 0; top: 0; margin-right: 5px; }
span.block { position: relative; padding-left: 25px;  background-color: lightblue; } span.block::before { content: "🧿"; position: absolute; left: 0; top: 0; margin-right: 5px; }

span[data-tag="\2A"] { position: relative; font-size: 0; pointer-events: none;} span[data-tag="\2A"]::before { content: "⭐1";  filter: hue-rotate(180deg) brightness(0.5) saturate(5); font-size: 15px; opacity: 0.2; pointer-events: none; user-select: none;  color: blue; }
span[data-tag="\2A\2A"] { position: relative; font-size: 0; pointer-events: none;} span[data-tag="\2A\2A"]::before { content: "⭐2";  filter: hue-rotate(180deg) brightness(0.5) saturate(5); font-size: 15px; opacity: 0.4; pointer-events: none; user-select: none;  color: blue; }
span[data-tag="\2A\2A\2A"] { position: relative; font-size: 0; pointer-events: none;} span[data-tag="\2A\2A\2A"]::before { content: "⭐3";  filter: hue-rotate(180deg) brightness(0.5) saturate(5); font-size: 15px; opacity: 0.6; pointer-events: none; user-select: none;  color: blue; }
span[data-tag="\2A\2A\2A\2A"] { position: relative; font-size: 0; pointer-events: none;} span[data-tag="\2A\2A\2A\2A"]::before { content: "⭐4";  filter: hue-rotate(180deg) brightness(0.5) saturate(5); font-size: 15px; opacity: 0.8; pointer-events: none; user-select: none;  color: blue; }
span[data-tag="\2A\2A\2A\2A\2A"] { position: relative; font-size: 0; pointer-events: none;} span[data-tag="\2A\2A\2A\2A\2A"]::before { content: "⭐5";  filter: hue-rotate(180deg) brightness(0.5) saturate(5); font-size: 15px; opacity: 1; pointer-events: none; user-select: none;  color: blue; }
span[data-tag="\3F"] { position: relative; font-size: 0; pointer-events: none;} span[data-tag="\3F"]::before { content: "❓1";  filter: filter: hue-rotate(90deg) brightness(0.5) saturate(5); font-size: 15px; opacity: 0.2; pointer-events: none; user-select: none;  color: red; }
span[data-tag="\3F\3F"] { position: relative; font-size: 0; pointer-events: none;} span[data-tag="\3F\3F"]::before { content: "❓2";  filter: filter: hue-rotate(90deg) brightness(0.5) saturate(5); font-size: 15px; opacity: 0.4; pointer-events: none; user-select: none;  color: red; }
span[data-tag="\3F\3F\3F"] { position: relative; font-size: 0; pointer-events: none;} span[data-tag="\3F\3F\3F"]::before { content: "❓3";  filter: filter: hue-rotate(90deg) brightness(0.5) saturate(5); font-size: 15px; opacity: 0.6; pointer-events: none; user-select: none;  color: red; }
span[data-tag="\3F\3F\3F\3F"] { position: relative; font-size: 0; pointer-events: none;} span[data-tag="\3F\3F\3F\3F"]::before { content: "❓4";  filter: filter: hue-rotate(90deg) brightness(0.5) saturate(5); font-size: 15px; opacity: 0.8; pointer-events: none; user-select: none;  color: red; }
span[data-tag="\3F\3F\3F\3F\3F"] { position: relative; font-size: 0; pointer-events: none;} span[data-tag="\3F\3F\3F\3F\3F"]::before { content: "❓5";  filter: filter: hue-rotate(90deg) brightness(0.5) saturate(5); font-size: 15px; opacity: 1; pointer-events: none; user-select: none;  color: red; }
span[data-tag="\A1"] { position: relative; font-size: 0; pointer-events: none;} span[data-tag="\A1"]::before { content: "🔥1";  filter: filter: hue-rotate(90deg) brightness(0.5) saturate(5); font-size: 15px; opacity: 0.2; pointer-events: none; user-select: none;  color: red; }
span[data-tag="\A1\A1"] { position: relative; font-size: 0; pointer-events: none;} span[data-tag="\A1\A1"]::before { content: "🔥2";  filter: filter: hue-rotate(90deg) brightness(0.5) saturate(5); font-size: 15px; opacity: 0.4; pointer-events: none; user-select: none;  color: red; }
span[data-tag="\A1\A1\A1"] { position: relative; font-size: 0; pointer-events: none;} span[data-tag="\A1\A1\A1"]::before { content: "🔥3";  filter: filter: hue-rotate(90deg) brightness(0.5) saturate(5); font-size: 15px; opacity: 0.6; pointer-events: none; user-select: none;  color: red; }
span[data-tag="\A1\A1\A1\A1"] { position: relative; font-size: 0; pointer-events: none;} span[data-tag="\A1\A1\A1\A1"]::before { content: "🔥4";  filter: filter: hue-rotate(90deg) brightness(0.5) saturate(5); font-size: 15px; opacity: 0.8; pointer-events: none; user-select: none;  color: red; }
span[data-tag="\A1\A1\A1\A1\A1"] { position: relative; font-size: 0; pointer-events: none;} span[data-tag="\A1\A1\A1\A1\A1"]::before { content: "🔥5";  filter: filter: hue-rotate(90deg) brightness(0.5) saturate(5); font-size: 15px; opacity: 1; pointer-events: none; user-select: none;  color: red; }
span[data-tag="\21"] { position: relative; font-size: 0; pointer-events: none;} span[data-tag="\21"]::before { content: "🚩1";  filter: filter: hue-rotate(90deg) brightness(0.5) saturate(5); font-size: 15px; opacity: 0.2; pointer-events: none; user-select: none;  color: red; }
span[data-tag="\21\21"] { position: relative; font-size: 0; pointer-events: none;} span[data-tag="\21\21"]::before { content: "🚩2";  filter: filter: hue-rotate(90deg) brightness(0.5) saturate(5); font-size: 15px; opacity: 0.4; pointer-events: none; user-select: none;  color: red; }
span[data-tag="\21\21\21"] { position: relative; font-size: 0; pointer-events: none;} span[data-tag="\21\21\21"]::before { content: "🚩3";  filter: filter: hue-rotate(90deg) brightness(0.5) saturate(5); font-size: 15px; opacity: 0.6; pointer-events: none; user-select: none;  color: red; }
span[data-tag="\21\21\21\21"] { position: relative; font-size: 0; pointer-events: none;} span[data-tag="\21\21\21\21"]::before { content: "🚩4";  filter: filter: hue-rotate(90deg) brightness(0.5) saturate(5); font-size: 15px; opacity: 0.8; pointer-events: none; user-select: none;  color: red; }
span[data-tag="\21\21\21\21\21"] { position: relative; font-size: 0; pointer-events: none;} span[data-tag="\21\21\21\21\21"]::before { content: "🚩5";  filter: filter: hue-rotate(90deg) brightness(0.5) saturate(5); font-size: 15px; opacity: 1; pointer-events: none; user-select: none;  color: red; }
span[data-tag="\3D"] { position: relative; font-size: 0; pointer-events: none;} span[data-tag="\3D"]::before { content: "✅1";  filter: hue-rotate(90deg) brightness(0.8) saturate(5); font-size: 15px; opacity: 0.2; pointer-events: none; user-select: none;  color: green; }
span[data-tag="\3D\3D"] { position: relative; font-size: 0; pointer-events: none;} span[data-tag="\3D\3D"]::before { content: "✅2";  filter: hue-rotate(90deg) brightness(0.8) saturate(5); font-size: 15px; opacity: 0.4; pointer-events: none; user-select: none;  color: green; }
span[data-tag="\3D\3D\3D"] { position: relative; font-size: 0; pointer-events: none;} span[data-tag="\3D\3D\3D"]::before { content: "✅3";  filter: hue-rotate(90deg) brightness(0.8) saturate(5); font-size: 15px; opacity: 0.6; pointer-events: none; user-select: none;  color: green; }
span[data-tag="\3D\3D\3D\3D"] { position: relative; font-size: 0; pointer-events: none;} span[data-tag="\3D\3D\3D\3D"]::before { content: "✅4";  filter: hue-rotate(90deg) brightness(0.8) saturate(5); font-size: 15px; opacity: 0.8; pointer-events: none; user-select: none;  color: green; }
span[data-tag="\3D\3D\3D\3D\3D"] { position: relative; font-size: 0; pointer-events: none;} span[data-tag="\3D\3D\3D\3D\3D"]::before { content: "✅5";  filter: hue-rotate(90deg) brightness(0.8) saturate(5); font-size: 15px; opacity: 1; pointer-events: none; user-select: none;  color: green; }
span[data-tag="\25"] { position: relative; font-size: 0; pointer-events: none;} span[data-tag="\25"]::before { content: "👍1";  filter: hue-rotate(180deg) brightness(0.5) saturate(5); font-size: 15px; opacity: 0.2; pointer-events: none; user-select: none;  color: blue; }
span[data-tag="\25\25"] { position: relative; font-size: 0; pointer-events: none;} span[data-tag="\25\25"]::before { content: "👍2";  filter: hue-rotate(180deg) brightness(0.5) saturate(5); font-size: 15px; opacity: 0.4; pointer-events: none; user-select: none;  color: blue; }
span[data-tag="\25\25\25"] { position: relative; font-size: 0; pointer-events: none;} span[data-tag="\25\25\25"]::before { content: "👍3";  filter: hue-rotate(180deg) brightness(0.5) saturate(5); font-size: 15px; opacity: 0.6; pointer-events: none; user-select: none;  color: blue; }
span[data-tag="\25\25\25\25"] { position: relative; font-size: 0; pointer-events: none;} span[data-tag="\25\25\25\25"]::before { content: "👍4";  filter: hue-rotate(180deg) brightness(0.5) saturate(5); font-size: 15px; opacity: 0.8; pointer-events: none; user-select: none;  color: blue; }
span[data-tag="\25\25\25\25\25"] { position: relative; font-size: 0; pointer-events: none;} span[data-tag="\25\25\25\25\25"]::before { content: "👍5";  filter: hue-rotate(180deg) brightness(0.5) saturate(5); font-size: 15px; opacity: 1; pointer-events: none; user-select: none;  color: blue; }
